<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.unibo.it/sensor/dsl/SensorDSL"
			class = "it.unibo.sensor.dsl.sensorDSL.SensorDSLPackage"
			genModel = "model/generated/SensorDSL.genmodel" />
	</extension>
</plugin>
